@charset "UTF-8";
/* CSS reset */
:root {
    --black: #000000;
    --grey: #dadbf1;
    --white: #fff;
    --blue: #4C5FD5;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: sans-serif;
    vertical-align: baseline;
}

img, svg {
    display: block;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p a {
    display: inline-block;
}

li {
    list-style-type: none;
}


h1, h2, h3, h4, h5, h6, p, span, a {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}